
<div id="chat">
<div id="scrollbar2">
    <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
        <div class="viewport">
            <div class="overview">
                  <table>

                  <% @chats.each do |c| %>
                    <% if current_user.uid.to_s == c["author_id"].to_s %>
                    <tr id="you">
                    	 <td>You:<%= c["body"] %></td>
                    </tr>
                    <% else %>
                    <tr id="friend">
                       <td>Friend:<%= c["body"] %></td>
                    </tr>
                    <% end %>
                  <% end %>
                  </table>
            </div>
        </div>
</div>
</div>



<%= form_for @message, :remote => true do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :receiver_id, :value => @message.receiver_id%>
  </div>

  <div class="field">
    <%= f.text_field :message_body, :class => 'text_chat'%>
  </div>
  <div class="actions">
    <%= f.submit 'SEND', :class => 'button_chat' %>
  </div>
<% end %>


<script>

$(document).ready(function(){

     $('#scrollbar2').tinyscrollbar();
     $('#scrollbar2').tinyscrollbar_update('bottom');


});



</script>